{% extends "herramental/master_herr.html" %}
{% block content %}

<h1> Bienvenido a la seccion de Herramental </h1>
<div class="container">
    <div class="row">
        <!-- Primera columna -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Golpes Diarios</h5>
                </div>
                <div class="card-body" >
                    <p class="card-text">Descripción del contenido 1</p>
                    <p class="card-text">Descripción del contenido 1</p>
                    <p class="card-text">Descripción del contenido 1</p>
                    <p class="card-text">Descripción del contenido 1</p>
                    <p class="card-text">Descripción del contenido 1</p>

                    <p class="card-text">Descripción del contenido 1</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Golpes Diarios</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Descripción del contenido 2</p>
                </div>
            </div>
        </div>
        <!-- Segunda columna -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Golpes Diarios</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Descripción del contenido 3</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Golpes Diarios</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Descripción del contenido 4</p>
                </div>
            </div>
        </div>
        <!-- Tercera columna -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Golpes Diarios</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Descripción del contenido 5</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Golpes Diarios</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Descripción del contenido 6</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock  %}