{% extends "herramental/master_herr.html" %}
{% block content %}
<meta http-equiv="refresh" content="25">
<div class="container">
    <div class="row">
        <!-- Primera columna -->
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">Requerimientos de Herramental</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-success table-striped">
                        <thead>
                            <th>Fecha de solicitud</th>
                            <th>Herramental</th>
                            <th>Trabajo</th>
                            <th>Quien solicita</th>
                            <th>Quien atiende</th>
                            <th>mantenimiento</th>
                        </thead>
                        <tbody>
                            {% for paro in paros %}
                            {% if paro.atiende == 'Nadie aun' %}
                                   <tr class="table-danger">   
                            {% else %}
                                   <tr class="table-warning">
                            {% endif %}                 
                                        <td > {{ paro.fecha }} </td>
                                        <td > {{ paro.nombreEquipo }} </td>    
                                        <td > {{ paro.dano }} </td>
                                        <td > {{ paro.quien }} </td>
                                        <td > {{ paro.atiende }} </td>
                                       <td> <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="fecha" value="{{ paro.fecha }}">
                                            <input type="hidden" name="herra" value="{{ paro.nombreEquipo }}">
                                            <input type="hidden" name="dano" value="{{ paro.dano }}">
                                            <input type="hidden" name="quien" value="{{ paro.quien }}">
                                            <input type="text" name="atiende" style="max-width: 80px; margin: 2px"  required>
                                            <button type="submit" class="btn btn-primary">Registro</button>
                                        </form></td>
                                   
                                </tr>
                            {% endfor %}
                           
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
            
            
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">Golpes Diarios</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-success table-striped">
                            <thead>
                                <tr>
                                    <th>Herramental</th>
                                    <th>Terminal</th>
                                    <th>Golpes Diarios</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for diario in golpes %}
                                <tr>
                                    <td class="table-info">{{ diario.herramental }}</td>
                                    <td class="table-info">{{ diario.terminal }}</td>
                                    <td class="table-info">{{ diario.golpesDiarios }}</td>
                                </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda columna -->
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">Registro de Golpes</h5>
                </div>
                <div class="card-body"  >
                    <form class="row g-6" action="{% url 'index' %}" method="POST" >
                        {% csrf_token %}
                        <div class="col-9">
                            <label for="{{ form.herramental.id_for_label }}" class="form-label">Herramental</label>
                            {{ form.herramental }}
                        </div>
                        <div class="col-9">
                            <label for="{{ form.terminal.id_for_label }}" class="form-label">Terminal Aplicada</label>
                            {{ form.terminal }}
                        </div>
                        <div class="col-9">
                            <label for="{{ form.golpesDiarios.id_for_label }}" class="form-label">Cantidad de golpes</label>
                            {{ form.golpesDiarios }}
                        </div>
                        <div class="col-6" align="center" id="boton-goles">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">Mantenimientos pendientes</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-success table-striped">
                            <thead>
                                <tr>
                                    <th>Herramental</th>
                                    <th>Terminal</th>
                                    <th>Numero de mantenimiento</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for diario in preventiva %}
                                <tr>
                                    <td class="table-info">{{ diario.herramental }}</td>
                                    <td class="table-info">{{ diario.terminal }}</td>
                                    <td class="table-info">{{ diario.totalmant }}</td>
                                </tr>
                                {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tercera columna -->
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">Registro Nuevo Herramental {{ error }}</h5>
                </div>
                <div class="card-body">
                    <form class="row g-6"  action="{% url 'index' %}" method="POST" >
                        {% csrf_token %}
                        <div class="col-9">
                            <label for="{{ NewHer.herramental.id_for_label }}" class="form-label">Herramental</label>
                            {{ NewHer.herramental }}
                        </div>
                        <div class="col-9">
                            <label for="{{ NewHer.terminal.id_for_label }}" class="form-label">Terminal que se usara</label>
                            {{ NewHer.terminal }}
                        </div>
                       
                        <div class="col-6" align="center" id="boton-goles">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
       <!-- <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">#7</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Descripción del contenido 7</p>
                </div>
            </div>
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">Golpes Diarios</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Descripción del contenido 8</p>
                </div>
            </div>
        </div>-->
    </div>
</div>

{% if error %}
<script>
alert("{{ error }}");
</script>
{% endif %}

{% endblock  %}