{% load static %}
<html>
    <head>
        <title>{% block title %}{{title}}{% endblock  %} </title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'herr_stilos.css' %}">
        <meta http-equiv="refresh" content="90">
    </head>
    <body>
       <div><span id="cvts">CVTS</span><span id ="jorge"> By Jorge Garrido</span></div>
      
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
              <span data-feather="users">Usuario: </span>
              {{user}}</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{'/herramental'}}">
            <span data-feather="home"></span>
            Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/herramental/diarios'}}">
              <span data-feather="file"></span>
              Tabla Golpes Diarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/herramental/mantenimientos'}}">
              <span data-feather="shopping-cart"></span>
              Informacion de Herramentales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Cerrar sesion</a>
              <span data-feather="bar-chart-2"></span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Herramentales</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="{{'/herramental/new_manten'}}">Mantenimiento Herramental</a>
              <span data-feather="bar-chart-2"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/herramental/add_mant'}}">Agregar mantenimiento</a>
              <span data-feather="bar-chart-2"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% block content %} {% endblock  %} 
      
      </main>
    
  </div>
</div>



      
        
      
    </body>
</html>    
