# Python
*.pyc
*.pyo
__pycache__/

# Environments
.dj
dj/
env/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
staticfiles

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
