<html>
    <head>
        <link rel="stylesheet" type="text/css" href="imprimir.css">
    </head>    
    <body>
        <div class="container">
            <div class="header">
                <div class="img_berg">
                </div>
                <div class="inf-head">
                    <div class="fecha">
                    
                    <div class="fecha-reg">
                        <div class="fech">
                            FECHA
                        </div> 
                        <div class="hcef">
                            19/01/2024
                        </div> 
                    </div> 
                     </div>   
                    <div class="clave">
                        CLAVE
                    </div>
                    <div class="clave">
                        C-RH-
                    </div>  
                    <div class="registro-v3">
                    </div>
                </div>
            </div>
        </div> 
    </body>    
</html>    