{% load static %}
<html>
    <head>
        <title>{% block title %}{{title}}{% endblock  %} </title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'rh_stilos.css' %}">
    </head>
    <body>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{'/rh'}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{'/rh/vacaciones'}}">Registro de Vacaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{user}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Logout</a>
            </li>
          </ul>
      
       {% block content %} {% endblock  %} 
    </body>
</html>    
