{% extends "almacen/master_alma.html" %}
{% block title %}Principal{% endblock  %}
{% block content %}

<div class="container">
    <div class="row">
        <!--Ultimos movimientos  -->
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">Ultimos movimientos</h5>
                </div>
                <div class="card-body" id="ultimosMovimientos">
                    {% if ultimosRegistros != '' %}
                   <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha movimientos</th>
                            <th>MFC interno</th>
                            <th>Cantidad</th>
                            <th>Comentario</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                       
                        {% for ultR in ultimosRegistros %}
                        <tr>
                            {% if user.username == 'comercio' or user.username == 'Indihra_M' or user.username == 'Rocio_F' or user.username == 'Favian_M' or user.username == 'Fatima_S' %}
                            <td scope="row">{{ultR.fechaDeMovimiento}}</td>
                            <td scope="row" >{{ ultR.mfcInterno}}</td>
                            <td scope="row">{{ ultR.qty}}</td>
                            <td scope="row">-</td>
                            {% else %}
                                <td scope="row">{{ultR.fechaMov}}</td>
                                <td scope="row" >{{ ultR.itIdInt}}</td>
                                <td scope="row">{{ ultR.Qty}}</td>
                                <td scope="row">{{ ultR.comentario}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                   </table>
                     {% endif %}
                </div>
            </div>
        </div>

        <!-- Registro pendientes -->
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-header">
                    <h5 class="card-title">Importaciones Registradas </h5>
                </div>
                <div class="card-body" > 
                   {% for dato in datos %}
                    <p class="card-text"> {{dato.invoiceNum}} </p>

                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}