{% extends "almacen/master_alma.html" %}
{% block title %}Registro Importaciones{% endblock  %}
{% block content %}
<div class="container">
    <!-- Formulario de registro de importaciones -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-12">
                <div class="card-header">
                    <h4 class="card-title">Formulario de registro de importaciones</h4>
                </div>
                <div class="card-body" > 
                        <form class="was-validated" action="{% url 'registro_importacion' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="dateField" class="form-label">Importation date</label>
                                <input type="date" class="form-control is-invalid" id="dateField"  required></textarea>
                                <div class="invalid-feedback">
                                  Please enter a specific date.
                                </div>
                              </div>
                            <div class="mb-3">
                              <label for="notesForexportation" class="form-label">Notes</label>
                              <textarea class="form-control is-invalid" id="notesForexportation" placeholder="Add any additional notes" required></textarea>
                              <div class="invalid-feedback">
                                Please enter a message if it is required.
                              </div>
                            </div>
                          
                            <div class="mb-3">
                              <input type="file" class="form-control" aria-label="file example" accept=".csv"  required>
                              <div class="invalid-feedback">Example invalid form file feedback</div>
                            </div>
                          
                            <div class="mb-3">
                              <button class="btn btn-primary" type="submit" >Submit form</button>
                            </div>
                          </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}