{% extends "almacen/master_alma.html" %}
{% block title %}Registro Calidad{% endblock  %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Primer bloque: Selección de importación -->
        <div class="col-md-12 mb-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Selecciona importación a registrar</h5>
                </div>
                <div class="card-body">
                    {% if datosimpo %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Invoice Number</th>
                                <th>Item Interno</th>
                                <th>Item Extrerno</th>
                                <th>Qty Org</th>
                                <th>Qty accepted and Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in datosimpo %}
                            <tr>
                                <td scope="row">{{dato.invoiceNum}}</td>
                                <td scope="row">{{dato.mfcInterno}}</td>
                                <td scope="row">{{dato.mfcExterno}}</td>
                                <td scope="row">{{dato.qty}}</td>
                                <td scope="row">
                                 <form action="{% url 'registroMovimiento' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="number" min='0'  name="qty" step='0.01' value="{{dato.qty}}" required>
                                    <textarea name="coment" id="" cols="10" rows="2" placeholder="Why?" required></textarea>
                                    <input type="hidden" name="mfcInterno" value="{{dato.mfcInterno}}">
                                    <input type="hidden" name="idAccept" value="{{dato.id_importacion}}">
                                    <hr>
                                    <button type="submit" class="btn btn-primary">Accepted</button>
                                </form>
                                </td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                        
                </div>
            </div>
        </div>

        <!-- Segundo bloque: Tabla de datos 
        <div class="col-md-8 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Selecciona registro a revisar</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Invoice Number</th>
                            </tr>
                        </thead>
                        <tbody id="table-body"> -->
                            <!-- Table rows will be inserted dynamically herex
                        </tbody>
                    </table> 
                </div>
            </div>
        </div> -->
    </div>
</div>




    
{% endblock  %}