{% extends "almacen/master_alma.html" %}
{% block title %}Registro Calidad{% endblock  %}
{% block content %}
    {%if datos=='' %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="card mb-10">
                    <div class="card-header">
                        <h5 class="card-title">Selecciona importacion a registrar</h5>
                    </div>
                    <div class="card-body">
                        <form class="row g-10" method='POST' action='#'>
                              <select class='form-control'>
                                {%if impo!="" %}
                                 {%for imp in impo%}
                                 <option value='{% imp %}'>{% imp %}</option>
                                 {%{% endfor %}%}
                                {%else%}
                                    <option value=''>No hay registros</option>
                                {%endif%}   
                              </select>  
                        </form>
                    </div>
                </div>
        </div>
    </div>
    {%else %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="card mb-10">
                    <div class="card-header">
                        <h5 class="card-title">Seleccion registro a revisar</h5>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
        </div>
    </div>

    {%endif%}

{% endblock  %}