{% extends "almacen/master_alma.html" %}
{% block title %}Registro Calidad{% endblock  %}
{% block content %}
    
<div class="container">
    <div class="row">
        <!-- Primer bloque: Selección de importación -->
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Selecciona importación a registrar</h5>
                </div>
                <div class="card-body">
                    <form class="row g-3" method="POST" action="#">
                        <select class="form-control" name="impo">
                            {% if datosimpo %}
                                {% for imp in datosimpo %}
                                    <option value="{{ imp.invoiceNum }}">{{ imp.invoiceNum }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">No hay registros</option>
                            {% endif %}
                        </select>
                    </form>
                </div>
            </div>
        </div>

        <!-- Segundo bloque: Selección de registro a revisar -->
        <div class="col-md-8 mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Selecciona registro a revisar</h5>
                </div>
                <div class="card-body">
                    <!-- Aquí puedes colocar contenido adicional si es necesario -->
                </div>
            </div>
        </div>
    </div>
</div>


    
{% endblock  %}